<!DOCTYPE html>
<html>
<head>
    <!-- 引入 echarts.js -->
    <script type="text/javascript" src="../static/js/echarts.min.js"></script>
    <!-- 引入jquery.js -->
    <script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
</head>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="chart0" style="width: 900px;height:500px;"></div>
<div id="chart1" style="width: 900px;height:500px;"></div>
<div id="chart2" style="width: 900px;height:500px;"></div>
</body>
<script type="text/javascript" src="../static/chart_js/statusPieChart.js"></script>
<script type="text/javascript" src="../static/chart_js/burndownChart.js"></script>
<script type="text/javascript" src="../static/chart_js/timelineChart.js"></script>
</html>